@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body{
    background-color: hsl(216, 12%, 8%);
}


.container{
    width: 28em;
    min-height: 28em;
    background-color: hsl(213, 19%, 18%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    border-radius: 2em;
}

.beforeFeedback{
    transition: 1s ease;
}

.beforeFeedback.down{
    display: none;
}

.star img{
    background-color: hsl(216, 12%, 8%);
    padding: 1em;
    border-radius: 10em;
}

.text{
    margin-top: 2em;
}

.text h1{
    color: #fff;
    font-weight: 700;
}

.text p{
    margin-top: 1em;
    color: hsl(217, 12%, 63%);
}

.buttons{
    margin-top: 2em;
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
}

.buttons .btn{
    background-color: hsl(216, 12%, 8%);
    width: 3em;
    height: 3em;
    padding: 1em;
    border-radius: 10em;
    text-align: center;
    color: hsl(217, 12%, 63%);
    transition: 1s ease
}

.buttons .btn:hover{
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.btn.active{
    background-color: hsl(217, 12%, 63%);
    color: #fff;
}

.submit{
    margin-top: 2em;
    background-color: hsl(25, 97%, 53%);
    padding: 1em;
    border-radius: 2em;
    text-align: center;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    transition: 1s ease;
}

.submit:hover{
    color: hsl(25, 97%, 53%);
    background-color: white;
}


/* Thank you section styling */
.thankyou{
    display: none;
    transition: 1s ease;
}

.thankyou.active{
    display: block;
}

.img{
    text-align: center;
}

.text .tankText{
    text-align: center;
    background-color: hsl(216, 12%, 8%);
    padding: 0.5em;
    border-radius: 2em;
    width: 12em;
    margin: auto;
    color: hsl(25, 97%, 53%);
}

.tankyou{
    text-align: center;
}